.paper {
  border-radius: 10px;
}

.root {
  min-width: 256px;
  padding: 16px;
}

.drawer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 16px 16px 32px;
}

.active {
  background-color: var(--ui-color-black);
  color: var(--ui-color-white);

  &:hover {
    background-color: var(--ui-color-black);
    color: var(--ui-color-white);
  }
}