@use '~@/sass/index' as *;

.rating {
  display: flex;
  gap: 24px;
  margin-top: 24px;
  flex-wrap: wrap;

  @media (min-width: $media-lg) {
    flex-wrap: nowrap;
  }

  &__item {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;

    &_main {
      width: 100%;

      @media (min-width: $media-lg) {
        width: auto;
      }
    }
  }

  &__text {
    color: var(--ui-color-black-64-opacity);
  }

  &__score {
    cursor: pointer;

    & svg {
      width: 22px;
      height: 22px;
      color: var(--ui-color-primary-2);

      @media (min-width: $media-lg) {
        width: 32px;
        height: 32px;
      }
    }

    &_result {
      color: var(--ui-color-primary-2);
      align-items: center;
      cursor: pointer;
      display: flex;
      gap: 8px;
    }
  }
}

.info_icon {
  display: flex;
  gap: 10px;
  z-index: -1;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  color: var(--ui-color-black-64-opacity);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
