@use '~@/sass/index' as *;

.rating {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    font-size: var(--text--text-small);
    display: flex;
    align-items: center;

    @media (min-width: $media-md) {
      font-size: var(--text--text-big);
      align-items: flex-start;
    }
  }

  &__score {
    font-size: var(--text--text-small);
    padding: 8px;
    border-radius: 50%;
    background-color: var(--bg-2);
    cursor: pointer;

    @media (min-width: $media-md) {
      font-size: var(--text--text-big);
      border-radius: 25px;
      padding: 10px;
    }

    & svg {
      width: 16px;
      height: 16px;

      @media (min-width: $media-md) {
        width: 25px;
        height: 25px;
      }
    }

    &_result {
      color: var(--light);
      cursor: pointer;
      background-color: #28304f;
      padding-left: 12px;
      padding-right: 12px;
      display: flex;
      gap: 8px;
      border-radius: 25px;
    }
  }
}

.info_icon {
  display: flex;
  gap: 10px;
  z-index: -1;
}

.icon {
  margin-top: 0.5vh;
}
