@use '~@/sass/index' as *;

.wrap {
  margin: 0 auto;
  max-width: 1736px;
  padding: 0 16px;
  width: 100%;

  @media (min-width: $media-md) {
    padding: 0 40px;
  }

  @media (min-width: $media-lg) {
    padding: 0 56px;
  }
}
