@use '~@/sass/index' as *;

@mixin text() {
  font-family: 'Wix Madefor Display', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  @media (min-width: $media-md) {
    font-size: 18px;
    line-height: 24px;
  }
}

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  min-height: 56px;
  gap: 8px;

  :global {
    .flag-dropdown {
      position: relative;
      width: 88px;
      height: 56px;
      border-radius: 200px;
      border: 1px solid var(--ui-color-black-24-opacity);
      background-color: var(--ui-color-white);
      transition: border .25s ease-in-out;

      &:hover {
        border: 1px solid var(--ui-color-black-64-opacity);
      }

      &:focus {
        border: 1px solid var(--ui-color-black);
      }

      &.open {
        border-radius: 200px;
        background: transparent;

        .selected-flag {
          border-radius: 200px;
        }
      }

      .selected-flag {
        width: 100%;
        border-radius: 200px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .arrow {
          left: 30px;
        }

        .flag {
          position: absolute;
          margin-top: 0;
          top: unset;
          margin-left: -10px;
        }

        &:hover {
          background-color: transparent;
        }
      }

      &.invalid-number {
        border-color: var(--ui-color-black-24-opacity);
      }
    }

    .form-control {
      width: 100%;
      height: 56px;
      border-radius: 200px;
      border: 1px solid var(--ui-color-black-24-opacity);
      background-color: var(--ui-color-white);
      padding-left: 24px;
      padding-right: 8px;
      transition: border .25s ease-in-out;
      @include text;

      &:hover {
        border: 1px solid var(--ui-color-black-64-opacity);
      }

      &:focus {
        border: 1px solid var(--ui-color-black);
      }

      &::placeholder {
        color: var(--ui-color-black-64-opacity);
      }

      &.invalid-number, &.invalid-number:focus {
        background-color: transparent;
        border: 1px solid var(--ui-color-red);
        border-left-color: var(--ui-color-red);
      }
    }

    .country-list {
      width: 440px;
      max-height: 300px;
      background-color: var(--ui-color-white);
      border-radius: 12px;
      box-shadow: 0px 4px 24px 0px #0000001f;
      padding: 4px;
      display: flex;
      flex-direction: column;
      gap: 2px;
      @include text;

      .country {
        min-height: 48px;
        border-radius: 8px;
        padding: 6px 12px;
        display: flex;
        align-items: center;
        transition: background-color 0.2s linear;

        &.highlight, &:hover {
          background-color: var(--ui-color-black-24-opacity);
        }
      }

      .search {
        padding: 0;
      }

      .search-box {
        border: 1px solid var(--ui-color-black-24-opacity);
        padding-left: 24px;
        padding-right: 8px;
        margin-left: 0;
        width: 100%;
        height: 48px;
        border-radius: 8px;
        transition: border .25s ease-in-out;

        &:hover {
          border: 1px solid var(--ui-color-black-64-opacity);
        }

        &:focus {
          border: 1px solid var(--ui-color-black);
        }

        @include text;
      }
    }

    .invalid-number-message {
      display: none;
    }
  }
}

.input {
  :global {
    .form-control {
      width: 100%;
      border: 1px solid var(--ui-color-black-24-opacity);
      min-height: 56px;
      transition: border 0.25s ease-in-out;
      outline: none;
      padding-left: 48px + 24px;
      padding-right: 8px;
      border-radius: 200px;
      overflow: hidden;
      @include text;

      &:hover {
        border: 1px solid var(--ui-color-black-64-opacity);
      }

      &:focus {
        border: 1px solid var(--ui-color-black);
      }

      &::placeholder {
        color: var(--ui-color-black-64-opacity);
      }

      &__error {
        border: 1px solid var(--ui-color-red);
      }
    }

    .flag-dropdown {
      border: none;
      margin-left: 12px;
      height: 54px;
      top: 1px;
      background-color: transparent;
      border-right: 1px solid var(--ui-color-black-24-opacity);

      &.open {
        background: transparent;
      }
    }

    .flag-dropdown.open .selected-flag {
      background-color: transparent;
    }

    .selected-flag {
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.label {
  color: var(--ui-color-black);
  margin-bottom: 8px;
}

.error {
  color: var(--ui-color-red);
  padding-left: 80px;
}
