@use '~@/sass/index' as *;

@mixin text() {
  font-family: 'Wix Madefor Display', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  @media (min-width: $media-md) {
    font-size: 18px;
    line-height: 24px;
  }
}

.input {
  :global {
    .form-control {
      width: 100%;
      border: 1px solid var(--ui-color-black-24-opacity);
      min-height: 56px;
      transition: border 0.25s ease-in-out;
      outline: none;
      padding-left: 48px + 24px;
      padding-right: 8px;
      border-radius: 200px;
      overflow: hidden;
      @include text;

      &:hover {
        border: 1px solid var(--ui-color-black-64-opacity);
      }

      &:focus {
        border: 1px solid var(--ui-color-black);
      }

      &::placeholder {
        color: var(--ui-color-black-64-opacity);
      }

      &__error {
        border: 1px solid var(--ui-color-red);
      }
    }

    .flag-dropdown {
      border: none;
      margin-left: 12px;
      height: 54px;
      top: 1px;
      background-color: transparent;
      border-right: 1px solid var(--ui-color-black-24-opacity);

      &.open {
        background: transparent;
      }
    }

    .flag-dropdown.open .selected-flag {
      background-color: transparent;
    }

    .selected-flag {
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.label {
  color: var(--ui-color-black);
  margin-bottom: 8px;
}
