@use '~@/sass/index' as *;

.slider {
  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
  }

  &:before {
    top: 0;
    height: 76px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.56) 100%);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    z-index: 1;
  }

  &:after {
    bottom: 0;
    height: 114px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  :global {
    .slick-slide {
      max-height: 241px;
      border-radius: 16px;
      overflow: hidden;

      @media (min-width: $media-md) {
        max-height: 270px;
      }

      @media (min-width: $media-lg) {
        max-height: 340px;
      }

      @media (min-width: $media-xl) {
        max-height: 370px;
      }

      @media (min-width: $media-xxl) {
        max-height: 400px;
      }

      & img {
        height: 241px;
        object-fit: cover;

        @media (min-width: $media-md) {
          height: 270px;
        }

        @media (min-width: $media-lg) {
          height: 340px;
        }

        @media (min-width: $media-xl) {
          height: 370px;
        }

        @media (min-width: $media-xxl) {
          height: 400px;
        }
      }
    }

    .slick-arrow {
      display: none;

      @media (min-width: $media-md) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        z-index: 1;
        background-color: var(--ui-color-white);
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;

        > svg {
          width: 28px;
          height: 28px;
          color: var(--ui-color-black);
        }
      }

      &::before {
        display: none;
      }
    }

    .slick-next {
      right: 16px;
    }

    .slick-prev {
      left: 16px;
    }

    .slick-dots {
      width: max-content;
      bottom: 12px;
      right: 12px;
      z-index: 1;
    }

    .slick-dots li {
      margin: 0 2px;
      width: 10px;
      height: 10px;
    }

    .slick-dots li button {
      width: 10px;
      height: 10px;
    }

    .slick-dots li button:before {
      width: 10px;
      height: 10px;
      color: var(--ui-color-white-64-opacity);
      opacity: 1;
      transition: font-size 0.2s ease-in-out;
    }
    .slick-dots li.slick-active button:before {
      color: var(--ui-color-white);
      opacity: 1;
      font-size: 8px;
    }
  }

  &:hover {
    :global {
      .slick-arrow {
        opacity: 1;

        /*&:hover {
          background-color: var(--ui-color-black-12-opacity);
        }

        &:active {
          background-color: var(--ui-color-black-24-opacity);
        }*/
      }
    }
  }
}

.card {
  &__slider {
    position: relative;
  }

  .badges {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 2;

    &__badge {
      background-color: var(--ui-color-white);
      padding: 0 8px;
      border-radius: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      height: 24px;
      gap: 2px;
    }
  }

  .info {
    position: absolute;
    bottom: 12px;
    left: 12px;
    display: flex;
    align-items: center;
    gap: 16px;

    &__price {
      color: var(--ui-color-white);
    }
  }

  &__content {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media (min-width: $media-md) {
      flex-direction: row;
    }

    .left {
      @media (min-width: $media-md) {
        flex: 1 1 0;
        overflow: hidden;
      }
    }

    .right {
      margin-top: auto;
      @media (min-width: $media-md) {
        flex: 1 1 0;
        overflow: hidden;
        margin-top: 0;
      }
    }
  }

  &__desciption {
    margin-top: 4px;
    color: var(--ui-color-black-64-opacity);

    & span {
      display: flex;
      align-items: center;
      gap: 4px;
      white-space: nowrap;
    }

    & svg {
      width: 20px;
      height: 20px;
    }
  }

  &__title {
    font-size: var(--heading--h6);
    color: var(--dark);
    font-weight: 600;
    text-decoration: none;
    display: inline-block;

    @media (min-width: $media-md) {
      margin-top: 0;
    }
  }

  &__button {
    margin: 0 auto;
    width: 100%;
    @media (min-width: $media-md) {
      width: auto;
      margin: 0  0 0 auto;
    }

  }
}

.advantages {
  display: flex;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;

  &__text {
    flex-direction: column;
    gap: 16px;

    &_wrapper {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  &__item {
    border-radius: 200px;
    pointer-events: auto;
    cursor: default;
    width: 32px;

    &_text {
      width: 24px;
      height: 24px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &_green {
      background-color: var(--ui-color-green);
    }

    &_yellow {
      background-color: var(--ui-color-yellow);
    }

    &_blue {
      background-color: var(--ui-color-blue);
    }

    &_m {
      height: 24px;
    }

    &_l {
      height: 32px;
    }
  }
}

.tooltip {
  background-color: var(--ui-color-white);
  padding: 4px 8px;
  border-radius: 4px;

  &__text {
    color: var(--ui-color-black);
    cursor: default;
  }
}

.skeleton {
  display: flex;
  flex-direction: column;
  transform: scale(1);
  gap: 12px;

  &__slider {
    height: 241px;
    @media (min-width: $media-md) {
      height: 270px;
    }

    @media (min-width: $media-lg) {
      height: 340px;
    }

    @media (min-width: $media-xl) {
      height: 370px;
    }

    @media (min-width: $media-xxl) {
      height: 400px;
    }
  }

  &__name {
    width: 200px;
    height: 24px;
  }

  &__description {
    width: 150px;
    height: 12px;
  }
}
