@use '~@/sass/index' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $media-md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &:not(:first-child) {
    margin-top: 36px;
  }
}

.item {
  display: flex;
  gap: 12px;
  align-items: center;

  & svg {
    width: 24px;
    height: 24px;
  }
}

.advantages {
  @media (min-width: $media-md) {
    width: 50%;
  }
}