@use '~@/sass/index' as *;

.wrap {
  margin: 0 auto;
  display: inline-flex;
}

.wrap_mobile {
  margin: 0 auto;
  display: inline-block;
}

.innerWrap {
  display: block;
}

.stories {
  height: 7rem;
  display: inline-flex;
  gap: 20px;
}

.stories_wrap {
  display: block;
  text-align: center;
  width: 84px;
}

.stories_button {
  border-radius: 1.25rem;
  background-color: transparent;
  height: 84px;
  width: 84px;
  border: 0.15rem solid rgba(4, 176, 190, 1);
  justify-content: center;
  align-items: center;
  z-index: 3000;
  cursor: pointer;
}

.stories_text {
  font-size: 11px;
}

.main {
  display: inline-flex;
  gap: 10px;
  height: 10.7rem;
}

.main_mobile {
  display: block;
}

.infoCard {
  background-color: rgba(241, 241, 241, 1);
  border-radius: 1.25rem;
  width: 30rem;
  height: 10rem;
  padding: 1.56rem 1rem 1.56rem 1.56rem;
  margin-top: 30px;
  display: inline-flex;
}

.infoCard_mobile {
  background-color: rgba(241, 241, 241, 1);
  border-radius: 1.25rem;
  height: 8rem;
  width: 100%;
  padding: 1.56rem 1rem 1.56rem 1.56rem;
  margin-top: 10px;
  display: inline-flex;
}

.p {
  padding-top: 25px;
  font-weight: 400;
  font-size: 20px;
}

.p_value {
  padding-top: 15px;
  font-weight: 400;
  font-size: 24px;
}

.p_min {
  padding-top: 25px;
  font-weight: 300;
  font-size: 14px;
}

.icon {
  margin-left: auto;
}

.icon_mobile {
  margin-left: auto;
  margin-top: -25px;
}

.sideCard {
  background-color: rgba(254, 230, 137, 1);
  border-radius: 1.25rem;
  width: auto;
  height: 474px;
  text-align: center;
  display: flex;
  flex-direction: column; ;
}

.icon_beta {
  margin-top: 87px;
}

.sideCard_mobile {
  background-color: rgba(254, 230, 137, 1);
  border-radius: 1.25rem;
  width: 100%;
  text-align: center;
  display: inline-flex;
  height: 140px;
}

.icon_beta_mobile {
  width: 120px;
  height: 136px;
  margin-left: auto;
  margin-top: 3px;
}

.p_mobile {
  padding-top: 5px;
  font-weight: 400;
  font-size: 16px;
}

.p_mobile_value {
  padding-top: 12px;
  font-weight: 400;
  font-size: 20px;
}

.p_min_mobile {
  padding-top: 5px;
  font-weight: 300;
  font-size: 12px;
}
