@use '~@/sass/index' as *;

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  grid-template-areas:
          'special-offer special-offer'
          'stories stories'
          'cards cards';
  margin-top: 16px;

  @media (min-width: $media-md) {
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    grid-template-areas:
      'stories stories stories stories stories stories stories stories stories special-offer special-offer special-offer'
      'cards cards cards cards cards cards cards cards cards special-offer special-offer special-offer';
  }

  @media (min-width: $media-lg) {
    gap: 32px;
  }
}

.stories {
  grid-area: stories;
  display: flex;
  gap: 16px;
}

.cards {
  grid-area: cards;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.offer {
  grid-area: special-offer;
  display: flex;
  border-radius: 16px;
  align-items: center;

  @media (min-width: $media-md) {
    flex-direction: column;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
    text-align: left;
  }

  &__text {
    text-align: left;

    @media (min-width: $media-md) {
      text-align: center;
    }

    &_grey {
      color: var(--ui-color-black-64-opacity)
    }
  }

  &__img {
    display: flex;
    align-items: flex-end;
    height: 100%;
    & > img {
      width: 100%;
      object-fit: contain;
    }
  }
}

.story {
  width: 84px;
  height: 84px;
  border: 1px solid var(--ui-color-primary-2);
  border-radius: 18px;
  padding: 2px;
  display: flex;
  cursor: pointer;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 84px;
  }

  &__content {
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    & > img {
      border-radius: 16px;
      width: 80px;
      height: 80px;
    }
  }

  &_read {
    border-color: transparent;
  }
}

.card {
  display: flex;
  border-radius: 16px;
  gap: 8px;
  background-color: #F1F1F1;
  width: 100%;

  @media (min-width: $media-md) {
    flex: 0 0 calc(50% - 8px);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 16px;
    width: 100%;
    overflow: hidden;
  }

  &__img {
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
  }
}
