@use '~@/sass/index' as *;

.wrapper {
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
}

.logo {
  text-align: center;

  & > svg {
    width: 75px;

    @media (min-width: $media-lg) {
      width: 117px;
    }
  }
}

.header {
  text-transform: uppercase;
  margin-top: 24px;

  @media (min-width: $media-lg) {
    margin-top: 32px;
  }
}

.description {
  color: var(--ui-color-black-64-opacity);
  margin-top: 8px;

  & > a {
    color: var(--ui-color-primary-2);
    text-decoration: none;
    font-weight: 600;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
  margin-bottom: 24px;

  @media (min-width: $media-lg) {
    margin-top: 32px;
  }
}

.signUp {
  color: var(--ui-color-black-64-opacity);
  margin-top: 32px;

  & > a {
    color: var(--ui-color-primary-2);
    text-decoration: none;
    font-weight: 600;
  }
}

//.profileIcon {
//  width: 120px;
//  height: 120px;
//  border-radius: 50%;
//  margin: 0 auto;
//}

.card {
  background-color: #f6f6f2;
  padding: 20px 25px 30px;
  margin: 5px auto 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.cardContainer {
  max-width: 350px !important;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
}

.profileImgCard {
  width: 50%;
  margin: 0 10px 20px 95px;
  display: block;
}

.politics {
  font-weight: 200;
  font-size: 12px;
  margin: auto;
  width: 50%;
  text-align: center;
}

.centerRegistration {
  width: 50%;
  margin-left: 11rem;
}

.profileIcon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-width: 1px;
  border-color: #0e0e0e;
  margin-left: 10rem;
  margin-top: 10px;
}

.layout {
  width: 100%;
  max-width: 648px;
  margin: 0 auto;
  padding: 0 16px;

  &__header {}

  &__description {
    color: var(--ui-color-black-64-opacity);
  }
}

.main {
  width: 100%;
  max-width: 648px;
  margin: 48px auto 0;

  &__header {
    margin-bottom: 32px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    max-width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    &__value {
      color: var(--ui-color-black-64-opacity);
    }
  }

  .button {
    border: 1px solid var(--ui-color-red);
    color: var(--ui-color-red);

    &:hover {
      background-color: var(--ui-color-red-8-opacity);
    }

    &:active {
      background-color: var(--ui-color-red-24-opacity);
    }
  }
}

.back {
  margin-top: 16px;
  margin-bottom: 48px;

  & > svg {
    margin-right: 4px;
    width: 20px;
    height: 20px;
    color: var(--ui-color-black);
  }
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 16px;
  cursor: pointer;
  background-color: var(--ui-color-black-12-opacity);
}

.letter {
  color: var(--ui-color-black-64-opacity);
}
