.container {
  padding: 24px;
  border-radius: 24px;
  border: 1px solid var(--ui-color-black-24-opacity);
}

.title {
  font-size: 16px;
  color: var(--ui-color-black-64-opacity);
  margin-bottom: 8px;
}

.steps {
  display: flex;
  align-items: center;
  width: 100%;
}

.step {
  font-weight: 600;
  font-size: 18px;
  color: #000;
  white-space: nowrap;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #ccc;
  margin: 0 4px;
}
