@use '~@/sass/index' as *;

.container {
  background-color: #f1f1f1;
  padding: 16px;
  margin: 0 -12px;

  @media (min-width: $media-md) {
    border-radius: 40px;
    padding: 24px;
  }
  @media (min-width: $media-lg) {}
}

.unit {
  border-radius: 24px;
  padding: 16px;
  max-width: 397px;
  width: 100%;
  background-color: var(--ui-color-white);
  height: 350px;
  display: flex;
  flex-direction: column;

  &__price_sq {
    display: inline-block;
    color: var(--ui-color-black-64-opacity);
  }

  &__name {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
  }

  .info {
    display: flex;
    gap: 8px;
    margin-top: 16px;

    &__card {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1px solid var(--ui-color-black-12-opacity);
      border-radius: 8px;
      padding: 8px;
      gap: 4px;

      &_description {
        color: var(--ui-color-black-64-opacity);
      }
    }
  }

  &__plan {
    display: flex;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid var(--ui-color-black-12-opacity);
    margin-top: auto;
    gap: 8px;

    & > img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 8px;
    }

    &_placeholder {
      width: 100%;
      min-height: 178px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #F1F1F1;
      padding: 12px;

      & > svg {
        width: 48px;
        height: 48px;
        color: var(--ui-color-black-64-opacity);
        opacity: 0.4;
      }

      & > span {
        color: var(--ui-color-black-64-opacity);
      }
    }
  }

  &__button {
    margin-top: 16px;
  }
}

.slider {
  &::before,
  &::after {
    display: none;
  }
  :global {
    .slick-slide {
      //max-height: 430px;
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }

    .slick-track {
      display: flex;
      flex-wrap: nowrap;
    }

    .slick-list {
      margin-right: -8px;
    }

    .slick-slide {
      max-height: unset;
    }

    .slick-slide img {
      height: unset;
    }

    .slick-arrow {
      display: none;
      opacity: 1;

      @media (min-width: $media-md) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        z-index: 1;
        background-color: var(--ui-color-white);
        border-radius: 50%;

        &:hover {
          background-color: var(--ui-color-white);
        }

        > svg {
          width: 28px;
          height: 28px;
          color: var(--ui-color-black);
        }
      }

      &::before {
        display: none;
      }

      &.slick-disabled {
        display: none;
      }
    }
  }
}
