@use '~@/sass/index' as *;

.filters {
  width: 100%;
  max-width: 448px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px;
  }

  &__buttons {
    background-color: var(--ui-color-white);
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
    border-top: 1px solid var(--ui-color-black-12-opacity);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 16px 19px 24px;
  border-bottom: 1px solid var(--ui-color-black-12-opacity);
}

.reset {
  cursor: pointer;
  width: 28px;
  height: 28px;

  & > svg {
    width: 28px;
    height: 28px;
    color: var(--ui-color-black);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__border {
    border: 1px solid var(--ui-color-black-12-opacity);
    border-radius: 16px;
    padding: 12px;
    max-height: 300px;
    overflow: auto;

    @include customScrollbar();
  }
}

.info {
  margin-top: 32px;
  background-color: var(--bg-1);
  padding: 16px;

  @media (min-width: 768px) {
    padding: 32px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid var(--border-dark);
    gap: 12px;
    flex-wrap: wrap;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
  }

  &__reset {
    color: var(--ui-color-primary-2);
    cursor: pointer;
    margin-left: auto;
  }
}

.price {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
}

.slider {
  .thumb {
    background-color: var(--ui-color-white);
    border: 2px solid var(--ui-color-primary-2);

    &:hover {
      box-shadow: none;
    }
  }

  .track {
    background-color: var(--ui-color-primary-2);
    border-color: var(--ui-color-primary-2);
  }
}
