.header {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--bg-2);
}

.reset {
  text-decoration: underline;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info {
  margin-top: 32px;
  background-color: var(--bg-1);
  padding: 16px;

  @media (min-width: 768px) {
    padding: 32px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid var(--border-dark);
    gap: 12px;
    flex-wrap: wrap;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}
