@use '~@/sass/index' as *;

.infrastructure {
  display: flex;
  gap: 32px;
  margin-bottom: 24px;
  flex-wrap: wrap;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__text {
    display: flex;
    gap: 8px;

    &_item {
      display: flex;
      gap: 4px;
      align-items: center;

      & > svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__location {
    color: var(--ui-color-black-64-opacity);
  }
}