@use '~@/sass/index' as *;

.wrapper {
  display: block;
  gap: 12px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.top {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.top_mobile {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.description {
  margin-top: 15px;
  color: var(--ui-color-black-64-opacity);
}

.templates_wrapper {
  display: block;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.templates_wrapper2 {
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.templates {
  display: inline-flex;
  gap: 15px;
}

.templates_mobile {
  display: block;
}

.template {
  display: grid;
  justify-items: center;
  border: 1px solid var(--ui-color-black-12-opacity);
  border-radius: 20px;
  padding: 10px;
}

.slide {
  position: relative;
  margin-top: 24px;
}

.estates {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  position: relative;
}

.estate {
  display: inline-flex;
  width: 150px;
  flex-shrink: 0;

  &__img {
    border-radius: 16px;
    object-fit: cover;
    width: 100%;
    height: 152px;
  }
}
