.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  &__input {
    display: none;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid var(--ui-color-black-24-opacity);
    background-color: var(--ui-color-white);
    transition:
      background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;

    & > svg {
      opacity: 0;
      transition: opacity 0.15s ease-in-out;
      color: var(--ui-color-white);

      .checkbox_checked & {
        opacity: 1;
      }
    }

    .checkbox:hover & {
      border: 2px solid var(--ui-color-black);
    }

    .checkbox_checked & {
      opacity: 1;
      border: 2px solid var(--ui-color-primary-2);
      background-color: var(--ui-color-primary-2);
    }

    .checkbox_checked:hover & {
      border: 2px solid var(--ui-color-primary-2);
      background-color: var(--ui-color-primary-2);
    }
  }
}
