@use '~@/sass/index' as *;

.label {
  font-size: var(--text--label);
  color: var(--dark);
  opacity: 0.5;
  text-transform: uppercase;
  font-weight: 600;
}

.wrapper {
  padding: 20px 12px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 64px;

  @media (min-width: $media-md) {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0;
  }
}

.menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 12px;
  margin: 64px 0 0;

  @media (min-width: $media-md) {
    padding: 0 0 32px 45px;
    border-right: 1px solid #17181c33;
    margin: 24px 0 0;
  }

  &__item {
    font-size: var(--heading--h4);
    font-weight: 600;
  }

  &__link {
    text-decoration: none;
    color: var(--dark);
    display: inline-block;
    position: relative;

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom center;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: -2px;
      left: 0;
      background-color: #04b0be;
      transition: transform 0.25s ease-out;
      transform-origin: bottom center;
    }
  }
}

.right {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-bottom: 12px;

  @media (min-width: $media-md) {
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__link {
    text-decoration: none;
    color: var(--dark);
  }

  &__links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 12px;
    margin: 0;
    padding: 0;
  }

  &__item {
    width: 30px;
    height: 30px;

    &:first-child {
      width: 35px;
      height: 35px;

      & svg {
        width: 35px;
        height: 35px;
      }
    }

    & svg {
      width: 30px;
      height: 30px;
    }
  }
}

.disclaimer {
  border-top: 1px solid #17181c33;
  padding-top: 24px;
  font-size: var(--text--label);
  line-height: 1;
}
