.footer_layout {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer_row-inline {
  display: flex;
  justify-content: space-between; /* лево/право */
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px;
}

.footer_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* строго слева */
  gap: 8px;
}

.footer_logo {
  max-width: 150px;
  height: auto;
  flex-shrink: 0;
}

.footer_item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.menu-socials {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  align-items: center;
}

.footer_text {
  flex: 1;
  min-width: 300px;
}

.footer_botom {
  margin-top: 24px;
}

@media (max-width: 768px) {
  .footer_row-inline {
    flex-direction: column;
    gap: 16px;
  }

  .footer_left {
    width: 100%;
  }

  .menu-socials {
    margin-top: 8px;
    justify-content: flex-start;
  }
}