@use '~@/sass/index' as *;

.list {
  background: rgba(32, 32, 32, 0.12);
  display: inline-flex;
  padding: 2px;
  border-radius: 200px;
  width: 100%;

  @media (min-width: $media-md) {
    width: max-content;
    margin: 0 auto;
    align-self: center;
    display: flex;
  }
}

.tabsWrapper {
  display: flex;
  gap: 8px;
  margin-top: 18px;

  @media (min-width: $media-md) {
    justify-content: space-between;
  }

  @media (min-width: $media-lg) {

  }
}

.tabsRoot {
  min-height: 32px;
  flex: 1 1 0;
}

.tabsIndicator {
  display: none;
  background-color: transparent;
}

.tabRoot {
  background-color: transparent;
  border-radius: 200px;
  transition: background-color 0.3s ease-in-out;
  color: #202020;
  padding: 5px;
  min-height: 28px;
  flex: 1 1 0;
  max-width: 100%;

  @media (min-width: $media-md) {
    min-width: 162px;
  }

  &:global(.Mui-selected) {
    background-color: #fff;
    color: #202020;
  }
}

.iconButtonRoot {
  height: 32px;
  border: 1px solid rgba(32, 32, 32, 0.24);
  border-radius: 200px;
  min-width: 55px;
  color: #202020;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.iconHeart {
  width: 16px;
  height: 16px;
}

.content {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}
