@use '~@/sass/index' as *;

.tabsWrapper {
  display: flex;
  gap: 8px;
  margin-top: 18px;
  justify-content: space-between;
}

.iconButtonRoot {
  height: 32px;
  border: 1px solid var(--ui-color-black-24-opacity);
  border-radius: 200px;
  min-width: 55px;
  color: var(--ui-color-black);
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.iconHeart {
  width: 16px;
  height: 16px;
}

.content {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}
