@use '~@/sass/index' as *;

.custom-gallery {
  .custom-slide {
    margin-top: 10px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    gap: 10px; /* Расстояние между картинками */
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;

      @media (min-width: $media-lg) {
        width: 50%; /* Два изображения в ряд */
      }
    }
  }

  .custom-slide_mobile {
    display: flex;
    justify-content: center;
    gap: 10px; /* Расстояние между картинками */
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;

      @media (min-width: $media-lg) {
        width: 50%; /* Два изображения в ряд */
      }
    }
  }


  .image-gallery-content.fullscreen {
    background: rgba(0, 0, 0, 0);
  }
}
