.button {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;

  svg {
    width: 20px;
    height: 20px;
    color: var(--ui-color-black);
    transition: transform 0.2s ease-in-out;
  }

  &.active {
    background-color: var(--ui-color-black-24-opacity);

    & svg {
      transform: rotate(180deg);
    }
  }
}

.menu {
  &__paper {
    border-radius: 10px;
    box-shadow: 0 4px 24px 0 #0000001f;

    :global {
      .MuiMenu-list {
        min-width: 232px;
        padding: 0;
      }
    }
  }
}

.menu__item_root {
  display: flex;
  gap: 8px;
  min-height: 48px;
  padding: 0 12px;
}
