.signUp {
  color: var(--ui-color-black-64-opacity);
  margin-top: 32px;

  & > a {
    color: var(--ui-color-primary-2);
    text-decoration: none;
    font-weight: 600;
  }
}

.error {
  position: absolute;
  color: var(--ui-color-red);
  bottom: -24px;
}
