.signUp {
  color: var(--ui-color-black-64-opacity);
  margin-top: 32px;

  & > a {
    color: var(--ui-color-primary-2);
    text-decoration: none;
    font-weight: 600;
  }
}

.error {
  position: relative;
  color: var(--ui-color-red);
  width: 50%;
  margin: 0 auto;
  font-size: 16px;
}
