@use '~@/sass/index' as *;

.wrapper {
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
}

.logo {
  text-align: center;

  & > svg {
    width: 75px;

    @media (min-width: $media-lg) {
      width: 117px;
    }
  }
}

.header {
  text-transform: uppercase;
  margin-top: 24px;

  @media (min-width: $media-lg) {
    margin-top: 32px;
  }
}

.description {
  color: var(--ui-color-black-64-opacity);
  margin-top: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
  position: relative;

  @media (min-width: $media-lg) {
    margin-top: 32px;
  }
}

.signUp {
  color: var(--ui-color-black-64-opacity);
  margin-top: 32px;

  & > a {
    color: var(--ui-color-primary-2);
    text-decoration: none;
    font-weight: 600;
  }
}

.error {
  position: absolute;
  color: var(--ui-color-red);
  bottom: -24px;
}
