@use '~@/sass/index' as *;

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  max-width: 1328px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 12px;

  @media (min-width: $media-lg) {
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
  }
}

.main {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 40px;
  //overflow: hidden;

  @media (min-width: $media-lg) {
    grid-column: span 8;
    gap: 64px;
  }
}

.side {
  grid-column: span 4;

  &_hidden_desktop {
    display: block;

    @media (min-width: $media-lg) {
      display: none;
    }
  }

  &_hidden_mobile {
    display: none;

    @media (min-width: $media-lg) {
      display: block;
    }
  }

  .sticky {
    position: relative;

    @media (min-width: $media-lg) {
      position: sticky;
      top: 74px;
    }
  }

  .rating {
    & svg {
      color: var(--ui-color-primary-2);
    }
  }

  .name {
    margin-top: 4px;
  }

  .badges {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    align-items: center;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 32px;
  }
}

.hidden_desktop {
  display: block;

  @media (min-width: $media-lg) {
    display: none;
  }
}
