@use '~@/sass/index' as *;
$header-height: 72px;

.wrap {
  margin: 0 auto;
  max-width: 1736px;
  padding: 0 12px;
  width: 100%;

  @media (min-width: $media-md) {
    width: 95%;
  }
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;
  width: 100%;
  column-gap: 90px;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  place-items: start stretch;

  @media (min-width: $media-lg) {
    column-gap: 90px;
    grid-template-rows: auto;
    grid-template-columns: 2fr 1fr;
    grid-auto-columns: 1fr;
    place-items: start stretch;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 48px;
  grid-row: 2;

  @media (min-width: $media-lg) {
    grid-row: 1;
  }
}

.title {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.aside {
  top: $header-height + 8px;
  grid-row: 1;

  @media (min-width: $media-lg) {
    position: sticky;
    grid-row: unset;
  }
}

.text {
  font-weight: 600;
  display: flex;
  gap: 12px;

  & > svg {
    width: 20px;
    height: 20px;
  }
}

.description {
  font-size: var(--text--text-body);

  @media (min-width: $media-lg) {
    font-size: var(--text--text-big);
  }
}
