$header-height: 72px;

.wrap {
  margin: 20px auto;
  width: 80%;
  max-width: 1736px;
  padding: 0 12px;
}

.wrap_info {
  margin: 20px auto;
  width: 100%;
  max-width: 1736px;
  padding: 0 12px;
  border-top: solid;
}

.wrap_mobile {
  margin: 20px auto;
  width: 100%;
}

.wrap_mobile_info {
  margin: 20px auto;
  width: 100%;
  border-top: solid;
}

.layout {
  width: 100%;
  column-gap: 90px;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;
  grid-auto-columns: 1fr;
  place-items: start stretch;
  display: grid;
}

.main {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  display: grid;
}

.main_mobile {
  display: block;
}

.title {
  text-align: center;
  font-family: var(--font--wide);
  font-weight: 800;
  font-size: var(--heading--h3);
  letter-spacing: var(--letter-spacing--2);
  color: var(--dark);
}

.title_mobile {
  text-align: center;
  font-family: var(--font--wide);
  font-weight: 600;
  font-size: 30px;
  letter-spacing: var(--letter-spacing--2);
  color: var(--dark);
}

.aside {
  position: sticky;
  top: $header-height + 8px;
}

.wrap_blue {
  margin: 30px auto;
  width: 100%;
  padding: 0 12px;
  background-color: #28304f;
}

.wrap_blue_inside {
  align-content: center;
  margin: 30px auto;
  width: 80%;
  padding: 20px 12px;
  background-color: #28304f;
}

.wrap_blue_mobile {
  margin: 30px auto;
  width: 100%;
  background-color: #28304f;
  padding-bottom: 10px;
  padding-top: 10px;
}

.wrap_blue_inside_mobile {
  align-content: center;
  width: 100%;
  margin-top: 20px;
  background-color: #28304f;
}

.title_blue {
  text-align: center;
  font-family: var(--font--wide);
  font-weight: 800;
  font-size: var(--heading--h3);
  letter-spacing: var(--letter-spacing--2);
  color: var(--white);
  margin-bottom: 1rem;
}

.title_blue_mobile {
  text-align: center;
  font-family: var(--font--wide);
  font-weight: 600;
  font-size: 30px;
  letter-spacing: var(--letter-spacing--2);
  color: var(--white);
  margin-bottom: 1rem;
}

.p_blue {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--white);
}

.p_blue_mobile {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--white);
  font-size: 13px;
}

.item {
  font-size: 20px;
  margin-top: 10px;
}

.item_mobile {
  font-size: 13px;
}
