.container {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  border: 1px solid var(--ui-color-black-24-opacity);
  max-height: 682px;
  overflow: auto;

  /* Кастомный скроллбар для Webkit-браузеров */
  &::-webkit-scrollbar {
    height: 12px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #e3e6ea;
    border-radius: 6px;
    border: 2px solid #fff;
    min-width: 48px;
    min-height: 12px;
    transition: background 0.2s;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #cfd4db;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 6px;
  }

  /* Для Firefox */
  scrollbar-width: thin;
  scrollbar-color: #e3e6ea transparent;
}

.unit {
  padding: 24px;
  display: grid;
  grid-template-columns: 2fr repeat(5, 1fr);
  border-bottom: 1px solid var(--ui-color-black-24-opacity);
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--ui-color-black-24-opacity);
  }

  &:last-child {
    border-bottom: none;
  }

  &__base {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &_center {
      align-items: center;
      justify-content: center;
    }
  }

  &__name {
    color: var(--ui-color-black-64-opacity);
    margin-bottom: 4px;
  }

  &__plan {
    display: flex;
    gap: 16px;

    &__img {
      width: 56px;
      height: 56px;
      background-color: var(--ui-color-black-12-opacity);
      border-radius: 8px;
      padding: 2px;

      & > img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
    }
  }

  &__button {
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    padding: 0;
    & > svg {
      width: 28px;
      height: 28px;
      color: var(--ui-color-white);
    }
  }
}

