@use '~@/sass/index' as *;

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  font-weight: 600;
  font-family: inherit;
  gap: 4px;
}

// Размеры
.sm {
  font-family: Wix Madefor Text;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0;
  padding: 4px 8px;

  @media (min-width: $media-md) {
    font-size: 14px;
    line-height: 18px;
  }
}

.md {
  font-family: Wix Madefor Text;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  padding: 6px 12px;
}

.lg {
  font-family: Wix Madefor Text;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0;
  padding: 8px 16px;

  @media (min-width: $media-md) {
    font-size: 24px;
    line-height: 32px;
  }
}

// Фоны
.white {
  background-color: var(--white);
  color: var(--ui-color-black);
  border: 1px solid var(--ui-color-black-24-opacity);
}

.primary {
  background-color: var(--ui-color-primary-2);
  color: var(--white);
}

// Иконка
.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1em; // наследуется от размера текста

  & > svg {
    width: 16px;
    height: 16px;
  }
}

// Текст
.text {
  display: inline-block;
}
