@use '~@/sass/index' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
  text-align: center;
  padding: 0 16px;

  @media (min-width: $media-lg) {
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    max-width: 1328px;
    margin: 32px auto 0;
  }

}

.description {
  margin-top: 8px;
  color: var(--ui-color-black-64-opacity);
}

.switcher {
  display: flex;
  align-items: center;
  gap: 16px;
}

.badge {
  background: rgba(254, 230, 137, 0.24);
  color: rgba(116, 91, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  padding: 4px 12px;
  height: 130px;
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 18px;
}

.badge_mobile {
  background: rgba(254, 230, 137, 0.24);
  color: rgba(116, 91, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  padding: 4px 12px;
  height: 180px;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 18px;
}
