@use '~@/sass/index' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
  text-align: center;
  padding: 0 16px;

  @media (min-width: $media-lg) {
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    max-width: 1328px;
    margin: 32px auto 0;
  }

}

.description {
  margin-top: 8px;
  color: var(--ui-color-black-64-opacity);
}

.switcher {
  display: flex;
  align-items: center;
  gap: 16px;
}
