.infoCard {
  background-color: #fafbff;
  border: .0625rem solid #17181c29;
  border-radius: 1.25rem;
  width: 25rem;
  height: 25rem;
  padding: 1.56rem 1rem 1.56rem 1.56rem;
  margin-top: 30px;
  position: relative;
}

.infoCard2 {
  background-color: #fafbff;
  border: .0625rem solid #17181c29;
  border-radius: 1.25rem;
  width: 90%;
  height: 9rem;
  padding: 2rem 2rem 2rem 2rem;
  margin-top: 30px;
  position: relative;
}
