.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 24px;
  border-top: 1px solid var(--bg-2);
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 12px;
}

.title {
  text-transform: uppercase;
  font-weight: 800;
}
