@use '~@/sass/index' as *;

.wrapper {
  display: flex;
  gap: 12px;

  @media (min-width: $media-md) {
    display: block;
  }

  & > img {
    width: 100%;
  }
}

.item {
  display: flex;
  flex-direction: column;
  font-size: var(--text--text-big);
  gap: 12px;

  @media (min-width: $media-md) {
    font-size: var(--text--text-big);
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    display: grid;
    margin-bottom: 24px;
  }

  &__one {
    grid-template-columns: 1fr;
  }
  &__two {
    grid-template-columns: repeat(2, 1fr);
  }
  &__three {
    grid-template-columns: repeat(3, 1fr);
  }
  &__four {
    grid-template-columns: repeat(4, 1fr);
  }
  &__five {
    grid-template-columns: repeat(5, 1fr);
  }
  &__six {
    grid-template-columns: repeat(6, 1fr);
  }
  &__seven {
    grid-template-columns: repeat(7, 1fr);
  }

  &__header {
    font-size: var(--text--text-body);
    font-weight: 500;

    @media (min-width: $media-md) {
      font-size: var(--text--text-big);
    }
  }
}

.item_mobile {
  display: inline-grid;
  gap: 1rem;
  margin-bottom: 12px;
  padding-left: 10px;

  @media (min-width: $media-md) {
    margin-bottom: 24px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__header {
    font-size: var(--text--text-body);
    font-weight: 500;

    @media (min-width: $media-md) {
      font-size: var(--text--text-big);
    }
  }
}
