.infoCard1 {
  background-color: #fafbff;
  border: .0625rem solid #17181c29;
  border-radius: 1.25rem;
  width: 21.25rem;
  height: 20rem;
  padding: 1.56rem 1rem 1.56rem 1.56rem;
  margin-top: 30px;
  background-image: url(./images/shutterstock_2498306647-2.webp);
  background-position: 400% -40%;
  background-repeat: no-repeat;
  background-size: 330px;
}

.infoCard2 {
  background-color: #fafbff;
  border: .0625rem solid #17181c29;
  border-radius: 1.25rem;
  width: 21.25rem;
  height: 20rem;
  padding: 1.56rem 1rem 1.56rem 1.56rem;
  margin-top: 30px;
  background-image: url(./images/shutterstock_2418757623-2.webp);
  background-position: 500% -10%;
  background-repeat: no-repeat;
  background-size: 330px;
}

.infoCard3 {
  background-color: #fafbff;
  border: .0625rem solid #17181c29;
  border-radius: 1.25rem;
  width: 21.25rem;
  height: 20rem;
  padding: 1.56rem 1rem 1.56rem 1.56rem;
  margin-top: 30px;
  background-image: url(./images/Mask-group.webp);
  background-position: 100% -40%;
  background-repeat: no-repeat;
  background-size: 443px;
}

.title {
  margin-bottom: 1.25rem;
}

.icon {
  border: .0625rem solid #28304f;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 3.13rem;
  height: 3.13rem;
  margin-bottom: 2rem;
  display: flex;
}
