.infoCard {
  background-color: #fafbff;
  border: .0625rem solid #17181c29;
  border-radius: 1.25rem;
  width: 21.25rem;
  height: 23rem;
  padding: 1.56rem 1rem 1.56rem 1.56rem;
  margin-top: 30px;
}

.title {
  margin-bottom: 1.25rem;
}

.icon {
  border: .0625rem solid #28304f;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 3.13rem;
  height: 3.13rem;
  margin-bottom: 2rem;
  display: flex;
}
