@use '~@/sass/index' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Wix+Madefor+Display:wght@400..800&display=swap');

:root {
  --font--body: Roboto, sans-serif;
  --font--serif: Roboto, sans-serif;
  --font--wide: 'Roboto Condensed', sans-serif;

  --light: white;
  --white: white;
  --dark: #17181c;
  --border-dark: #17181c29;
  --border-light: #ffffff29;
  --bg-1: #f6f6f2;
  --bg-2: #ede8e2;
  --accent: #a9d0e6;
  --black: #0e0e0e;
  --semi-transparent-white: #fff0;
  --accent-2: #164ac3;
  --light-orange: #fff7e8;
  --dark-orange: #734a00;

  --text--text-body: 16px;
  --text--text-small: 14px;
  --text--label: 12px;
  --text--text-big: 20px;
  --text--button: 16px;

  --letter-spacing--0: 0px;
  --letter-spacing--0-7px: 0.7px;
  --letter-spacing--1: -0.01em;
  --letter-spacing--2: -0.02em;
  --letter-spacing--2-0: 0.02em;
  --letter-spacing--3: -0.03em;
  --letter-spacing--4: -0.04em;
  --letter-spacing--4-0: 0.04em;
  --letter-spacing--5: -0.05em;
  --letter-spacing--8: -0.08em;
  --letter-spacing--8-0: 0.08em;

  --heading--h0: 72px;
  --heading--h1: 72px;
  --heading--h2: 56px;
  --heading--h3: 48px;
  --heading--h4: 32px;
  --heading--h5: 24px;
  --heading--h6: 20px;

  --radius--xxsmall: 8px;
  --radius--xsmall: 12px;
  --radius--small: 16px;
  --radius--medium: 24px;
  --radius--regular: 32px;
  --radius--big: 40px;
  --radius--round: 100vw;

  // new UI KIt Colors
  // Primary
  --ui-color-primary-1: #28304F;
  --ui-color-primary-2: #04B0BE;
  --ui-color-primary-2-light: #4EECF8;
  --ui-color-primary-2-light-24-opacity: rgba(78, 236, 248, 0.24);
  // Black
  --ui-color-black: #202020;
  --ui-color-black-64-opacity: rgba(32, 32, 32, 0.64);
  --ui-color-black-24-opacity: rgba(32, 32, 32, 0.24);
  --ui-color-black-12-opacity: rgba(32, 32, 32, 0.12);
  --ui-color-black-4-opacity: rgba(32, 32, 32, 0.08);
  // White
  --ui-color-white: #FFFFFF;
  --ui-color-white-64-opacity: rgba(255, 255, 255, 0.64);
  --ui-color-white-16-opacity: rgba(255, 255, 255, 0.16);
  --ui-color-white-12-opacity: rgba(255, 255, 255, 0.12);
  --ui-color-white-4-opacity: rgba(255, 255, 255, 0.04);
  // Difference color
  --ui-color-yellow: #FEE689;
  --ui-color-yellow-24-opacity: rgba(255, 230, 137, 0.24);
  --ui-color-yellow-8-opacity: rgba(255, 230, 137, 0.08);

  --ui-color-red: #F74C4C;
  --ui-color-red-light: #FE8989;
  --ui-color-red-24-opacity: rgba(254, 137, 137, 0.24);
  --ui-color-red-8-opacity: rgba(254, 137, 137, 0.08);

  --ui-color-green: #89FEC3;
  --ui-color-green-24-opacity: rgba(137, 254, 195, 0.24);
  --ui-color-green-8-opacity: rgba(137, 254, 195, 0.08);


}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--light);
  font-family: var(--font--body);
  color: var(--dark);
  font-size: var(--text--text-body);
  letter-spacing: var(--letter-spacing--1);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font--body);
  margin: 0;
}

h1 {
  font-size: var(--heading--h3);

  @media (min-width: $media-md) {
    font-size: var(--heading--h1);
  }
}

h2 {
  font-size: var(--heading--h3);

  @media (min-width: $media-md) {
    font-size: var(--heading--h2);
  }
}

h3 {
  font-size: var(--heading--h3);
}

h4 {
  font-size: var(--heading--h4);

  @media (min-width: $media-md) {
    font-size: var(--heading--h3);
  }
}

h5 {
  font-size: var(--heading--h5);

  @media (min-width: $media-md) {
    font-size: var(--heading--h5);
  }
}

p {
  margin: 0;
}

strong {
  font-weight: 600;
}

ul {
  padding: 0;
}
