.description {
  color: var(--ui-color-black-64-opacity);
  margin-top: 8px;

  & > a {
    color: var(--ui-color-primary-2);
    text-decoration: none;
    font-weight: 600;
  }
}

.signUp {
  color: var(--ui-color-black-64-opacity);
  margin-top: 32px;

  & > a {
    color: var(--ui-color-primary-2);
    text-decoration: none;
    font-weight: 600;
  }
}