.wrapper {
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
}

.logo {
  text-align: center;
}

.header {
  text-transform: uppercase;
  margin-top: 24px;
}

.description {
  color: var(--ui-color-black-64-opacity);
  margin-top: 8px;

  & > a {
    color: var(--ui-color-primary-2);
    text-decoration: none;
    font-weight: 600;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.signUp {
  color: var(--ui-color-black-64-opacity);
  margin-top: 32px;

  & > a {
    color: var(--ui-color-primary-2);
    text-decoration: none;
    font-weight: 600;
  }
}