@use '~@/sass/index' as *;

.tabs {
  display: flex;
  height: 40px;
  background-color: #f1f1f1;
  padding: 2px;
  border-radius: 200px;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  border: none;
  width: 44px;
  height: 36px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;

  & > svg {
    width: 20px;
    height: 20px;
    color: var(--ui-color-black);
  }

  &.active {
    background-color: var(--ui-color-white);
  }

  &.full {
    width: 44px;
    height: 36px;

    @media (min-width: $media-md) {
      width: auto;
      gap: 4px;
    }
  }

  &__text {
    display: none;

    @media (min-width: $media-md) {
      display: inline-block;
    }
  }
}
