@use '~@/sass/index' as *;

.wrap {
  margin: 0 auto;
  max-width: 1736px;
  padding: 0 12px;
  width: 100%;

  @media (min-width: $media-md) {
    width: 95%;
  }
}

.header {
  margin-bottom: 48px;
  display: inline-block;
}

.layout {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;

  @media (min-width: $media-md) {
    column-gap: 90px;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    place-items: start stretch;
  }
}

.main {
  display: grid;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto auto;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));

  @media (min-width: $media-md) {
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  }

  @media (min-width: $media-lg) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  @media (min-width: $media-xl) {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }

  @media (min-width: $media-xxl) {
    grid-template-columns: repeat(auto-fit, minmax(648px, 1fr));
  }
}

.pagination {
  margin-top: 40px;
  @media (min-width: $media-md) {
    margin-top: 48px;
    grid-column-start: 2;
  }
}
