@use '~@/sass/index' as *;

.flats {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border: 1px solid var(--ui-color-black-24-opacity);
  border-radius: 24px;
  width: 100%;

  @media (min-width: $media-lg) {
    flex-direction: row;
    width: max-content;
    margin-top: 24px;
    gap: 24px;
  }
}

.flats_short {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border: 1px solid var(--ui-color-black-24-opacity);
  border-radius: 24px;
  width: 100%;

  @media (min-width: $media-lg) {
    flex-direction: row;
    margin-top: 24px;
    gap: 24px;
  }
}

.flat {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__name {
    color: var(--ui-color-black-64-opacity);
  }

  &__price {
    color: var(--ui-color-black);
  }
}

.flat_short {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__name {
    font-size: 15px;
    color: var(--ui-color-black-64-opacity);
  }

  &__price {
    font-size: 15px;
    color: var(--ui-color-black);
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--ui-color-black-24-opacity);

  @media (min-width: $media-lg) {
    width: 1px;
    height: 100%;
    min-height: 56px;
  }
}
