@use '~@/sass/index' as *;

.item {

  @media (min-width: $media-md) {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  @media (min-width: $media-xl) {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 12px;
    max-height: 500px;
  }
}

.wrapper {
  background-color: #e9e9ea;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $media-md) {
    gap: 24px;
  }
}

.hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: var(--ui-color-black-12-opacity);
  margin: 0;

  @include hidden('desktop');
}

.badges {
  display: flex;
  gap: 4px;
  margin-bottom: 8px;
  cursor: pointer;

  @media (min-width: $media-md) {
    margin-bottom: 28px;
  }
}

.header {
  margin-bottom: 4px;

  @media (min-width: $media-md) {
    margin-bottom: 8px;
  }
}

.icon {
  display: flex;
  width: 12px;
  height: 12px;

  & > svg {
    width: 12px;
    height: 12px;
  }

  &__primary {
    color: var(--ui-color-primary-2);
    width: 13px;
    height: 13px;

    & > svg {
      width: 13px;
      height: 13px;
    }
  }
}

.price {
  color: var(--ui-color-black-24-opacity);
}

.info {
  &__wrapper {
    display: flex;
    gap: 8px;
    flex-wrap: nowrap;

    @media (min-width: $media-md) {
      display: none;
    }
  }

  &__card {
    border: 1px solid var(--ui-color-black-24-opacity);
    border-radius: 8px;
    padding: 8px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
  }

  &__description {
    color: var(--ui-color-black-64-opacity);
  }
}

.tables {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $media-md) {
    border: 1px solid var(--ui-color-black-24-opacity);
    border-radius: 24px;
    padding: 16px;
    flex: 1 1 0;
    height: fit-content;

    .hr {
      display: block;
    }
  }
}

.table {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &__item {
    display: flex;
    justify-content: space-between;
  }
}

.map {
  @include hidden('desktop');
}

.progress {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $media-md) {
    flex: 1 1 0;
    justify-content: space-evenly;
  }
}

.like {
  display: flex;
  gap: 8px;
  border-radius: 200px;

  &__icon {
    width: 20px;
    height: 20px;
  }
}

.slider {
  margin: 0 -16px 8px;

  @media (min-width: $media-md) {
    margin: 0;
    min-width: 0;
    position: relative;
  }

  &__map {
    display: none;

    @media (min-width: $media-md) {
      display: block;
      position: absolute;
      top: 16px;
      right: 16px;
      width: 156px;
      height: 156px;
      border-radius: 24px;
      border: 6px solid var(--ui-color-white);
      overflow: hidden;
      z-index: 1000;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $media-xl) {
    flex-direction: row;
    gap: 24px;
  }
}
