.infoCard {
  background-color: #fafbff;
  border: .0625rem solid #17181c29;
  border-radius: 1.25rem;
  width: 21.25rem;
  height: 20rem;
  padding: 1.56rem 1rem 1.56rem 1.56rem;
  margin-top: 30px;
}

.title {
  margin-bottom: 1.25rem;
  font-size: 25px;
}

.icon {
  margin-bottom: 2rem;
}

.infoCard_mobile {
  background-color: #fafbff;
  border: .0625rem solid #17181c29;
  border-radius: 1.25rem;
  width: 100%;
  height: 11rem;
  padding: 1rem 1rem 1rem 1rem;
  margin-top: 20px;
}

.title_mobile {
  margin-bottom: 0.35rem;
  font-size: 20px;
}

.icon_mobile {
  margin-bottom: 2px;
}

.p_mobile {
  font-size: 13px;
  width: 100%;
}
