.whyCard {
  background-color: #fafbff;
  border: .0625rem solid #17181c29;
  border-radius: 1.25rem;
  width: 21.25rem;
  height: 23rem;
  padding: 1.56rem 1rem 1.56rem 1.56rem;
  margin-top: 30px;
}

.title {
  margin-bottom: 1.25rem;
}
