.wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.bold {
  font-weight: 700;
}

.description {
  hyphens: auto;
  overflow-wrap: break-word;
  color: var(--ui-color-black-64-opacity);
}