@use '~@/sass/index' as *;

.wrapper {
  width: calc(100% + 32px);
  margin: 0 -16px;
  padding: 8px 16px;
  position: sticky;
  bottom: 0;
  background-color: var(--ui-color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: border-radius 0.3s ease-in-out;

  @media (min-width: $media-md) {
    width: 480px;
    box-shadow: 0 4px 24px 0 var(--ui-color-black-12-opacity);
    border-radius: 48px;
    margin: 0 auto;
    bottom: 32px;
    padding: 16px;
    z-index: 1000;
  }

  &__open {
    @media (min-width: $media-md) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      box-shadow: none;
    }
  }

  &__question {
    gap: 8px;

    @media (min-width: $media-md) {
      gap: 8px;
    }
  }
}

.content {
  display: flex;
  gap: 16px;
  align-items: center;

  &__hidden {
    @media (min-width: $media-md) {
      display: none;
    }
  }
}

.manager {
  color: rgba(32, 32, 32, 0.64);
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.button {
  height: 56px;
  border-radius: 200px;
}

.button2 {
  height: 56px;
  border-radius: 200px;
  width: 90%;
}

.button3 {
  height: 56px;
  width: 56px;
  background-color: transparent;
  color: black;
  border-radius: 50%;
  border: 1px solid #04b0be;
}

.bottomSheetList {
  margin: 0;
  padding: 0;
  color: var(--ui-color-black);

  &__item {
    display: flex;
    align-items: center;
    height: 40px;
    gap: 16px;
    transition: background-color 0.3s ease-in-out;

    @media (min-width: $media-md) {
      padding: 12px 8px;
      border-radius: 8px;
    }

    &:hover {
      @media (min-width: $media-md) {
        background-color: var(--ui-color-black-12-opacity);
      }
    }

    a {
      color: var(--ui-color-black);
      text-decoration: none;
    }
  }

  &__item > svg {
    width: 24px;
    height: 24px;
  }
}

.hr {
  background-color: rgba(32, 32, 32, 0.12);
  background-color: #2020201f;
  height: 1px;
  margin: 16px 0;
  border: none;

  &__hiddenMobile {
    display: none;
    @media (min-width: $media-md) {
      display: block;
    }
  }

  &__hiddenDesktop {
    display: block;

    @media (min-width: $media-md) {
      display: none;
    }
  }
}

.hidden {
  &__desktop {
    display: block;

    @media (min-width: $media-md) {
      display: none;
    }
  }

  &__mobile {
    display: none;
    @media (min-width: $media-md) {
      display: block;
    }
  }
}
