.container {
  position: relative;
  display: inline-block;
}
.button {
  padding: 0;
  width: 100px;
  border: 0;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: 0;
  font-size: 17px;
  text-decoration: none;
  text-align: right;
}

.dropdown {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 5px #0003;
  margin-left: 1vw;
  width: 100%;
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    padding: 8px 12px;
    text-align: center;
  }

  li:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
  }
}
