.container {
  position: relative;
  display: inline-block;
  margin-right: 50px;
}
.button {
  padding-left: 5px;
  padding-right: 5px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: 0;
  font-size: 17px;
  text-decoration: none;
  text-align: right;
  display: flex;
  gap: 5px;
  border-radius: 15px;
  border-color: #0e0e0e;
  border-width: 1px;
}

.dropdown {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 5px #0003;
  margin-left: 1vw;
  width: 100%;
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    padding: 8px 12px;
    text-align: center;
  }

  li:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
  }
}

.icon {
  width: 20px;
  height: 20px;
}
