@use '~@/sass/index' as *;
$headerHeight: 60px;

.header {
  background-color: var(--white);
  width: 100%;
  padding: 12px;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $media-md) {
    padding: 16px 45px;
    z-index: 3;
  }
}

.logo {
  width: 90px;
  height: 36px;
  margin-right: auto;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 12px;
  display: none;

  @media (min-width: $media-md) {
    display: flex;
  }

  &__item {
    font-weight: 600;
  }

  &__link {
    text-decoration: none;
    color: var(--dark);
    display: inline-block;
    position: relative;

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom center;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: -2px;
      left: 0;
      background-color: #04b0be;
      transition: transform 0.25s ease-out;
      transform-origin: bottom center;
    }
  }

  &__icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 8px;

    & > svg {
      width: 20px;
      height: 20px;
    }

    @media (min-width: $media-md) {
      display: none;
    }
  }
}

.right {
  margin-left: auto;
}

.profile_icon {
  width: 30px;
  height: 30px;
  margin-left: -2vw;
  position: absolute;
  border-radius: 50%;
  border-width: 1px;
  border-color: #0e0e0e;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: fixed;
  top: -15%;
  list-style-type: none;
  padding: 16px 0;
  margin: 0;
  width: 100%;
  background-color: var(--light);
  transition: top 0.25s ease-out;
  z-index: 20;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  @media (min-width: $media-md) {
    display: none;
  }

  &__show {
    top: $headerHeight;
  }
}
