@use '~@/sass/index' as *;

.item {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  margin-bottom: 12px;

  @media (min-width: $media-md) {
    margin-bottom: 24px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__header {
    font-size: var(--text--text-body);
    font-weight: 500;

    @media (min-width: $media-md) {
      font-size: var(--text--text-big);
    }
  }
}