@use '~@/sass/index' as *;

.accordion {
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid var(--bg-2);

  &__header {
    width: 100%;
    padding: 16px 0;
    border: none;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--light);
    color: black;
  }

  &__vector {
    margin-right: 12px;
    width: 20px;
    height: 20px;
  }

  &__icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg);
    transition: transform 0.2s ease-in-out;
    border: 1px solid var(--ui-color-black-24-opacity);
    border-radius: 50%;

    & > svg {
      width: 24px;
      height: 24px;
    }

    &_wrapper {
      margin-left: auto;
    }

    &.open {
      transform: rotate(90deg);
    }
  }

  &__content {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  &__body {
    padding-bottom: 24px;
    background: white;
    font-family: 'Wix Madefor Text', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    @media (min-width: $media-md) {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ui-color-yellow);
  margin-left: 12px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
