@use '~@/sass/index' as *;

.container {
  @media (min-width: $media-md) {
    padding: 24px;
    border-radius: 24px;
    border: 1px solid var(--ui-color-black-24-opacity);
  }
}

.title {
  font-size: 16px;
  color: var(--ui-color-black-64-opacity);
  margin-bottom: 8px;
}

.steps {
  display: flex;
  align-items: center;
  width: 100%;
}

.step {
  font-weight: 600;
  font-size: 18px;
  color: var(--ui-color-black);
  white-space: nowrap;

  &_estate_detail {
    display: flex;
    flex-direction: column-reverse;
    position: relative;

    @media (min-width: $media-md) {
      flex-direction: column;
    }

    + .line {
      position: relative;
      top: -14px;
      left: -6px;

      @media (min-width: $media-md) {
        margin: 0 4px;
        left: 0;
        top: 0;
      }
    }

    .step__percent {
      margin-top: 4px;
    }
  }
}

.line {
  flex: 1;
  height: 1px;
  background-color: #ccc;
  margin: 0 4px;
}

.info {
  color: var(--ui-color-black-64-opacity);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--ui-color-black-12-opacity);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $media-md) {
    width: auto;
    height: auto;
    border-radius: unset;
    background-color: transparent;
  }
}

.hidden {
  &_mobile {
    display: none;

    @media (min-width: $media-md) {
      display: inline-block;
    }
  }
}
